.ranking-screen {
    background-color: #1B4889;
    height: 100%;
}

hr {
    width: 950px;
    height: 1px;
    color: lightgray;
    background-color: lightgray;
    border: none;
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nancy-logo {
    width: 230px;
}

.header-container {
    padding: 10px 20px 0 20px;
}

.header-container span {
    font-size: 40px;
    font-weight: bold;
}

.htgsoft-logo {
    width: 230px;
}

.current-time {
    text-align: center;
    color: #d61568;
    font-weight: bold;
    font-size: 20px;
}

.panel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 72%;
}

.panel-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-panel-sub-container {
    margin-right: 200px;
}

.right-panel-sub-container {
    margin-left: 200px;
}

.panel-sub-container hr {
    width: 430px;
    height: 1px;
    color: lightgray;
    background-color: lightgray;
    border: none;
}

.panel-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 140px;
}

.number {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}

.patient-number {
    color: #faff47;
    font-size: 50px;
    font-weight: bold;
}

.room-number {
    font-size: 20px;
    color: #d61568;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.welcoming {
    font-size: 20px;
    color: white;
    text-align: center;
}

.patient-name {
    font-size: 25px;
    color: #faff47;
    font-weight: bold;
    text-align: center;
}

.patients {
    margin-left: 40px;
    font-size: 20px;
    color: white;
}

.footer {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 30px;
}

.vertical-separator {
    background-color: white;
    width: 1px;
    height: 100%;
}
