@media (max-width: 1680px) and (max-height: 917px) {
    .panel-sub-container .room-name {
        font-size: 30px;
    }

    .panel-sub-container .welcoming {
        font-size: 25px;
    }

    .panel-sub-container .patient-name {
        font-size: 35px;
    }

    .panel-sub-container .number {
        font-size: 40px;
    }

    .panel-sub-container .patient-number {
        font-size: 60px;
    }

    .panel-sub-container .patients {
        font-size: 30px;
    }

    .ranking-screen .footer {
        font-size: 20px;
    }
}

.ranking-screen {
    background-color: #1B4889;
    height: 100%;
}

hr {
    width: 950px;
    height: 1px;
    color: lightgray;
    background-color: lightgray;
    border: none;
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nancy-logo {
    width: 230px;
}

.header-container {
    padding: 10px 20px 0 20px;
}

.header-container span {
    font-size: 40px;
    font-weight: bold;
}

.htgsoft-logo {
    width: 230px;
}

.current-time {
    text-align: center;
    color: #ff1e82;
    font-weight: bold;
    font-size: 40px;
}

.panel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 72%;
}

.panel-sub-container {
    flex: 0.45;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-panel-sub-container {
    margin-right: 100px;
}

.right-panel-sub-container {
    margin-left: 100px;
}

.panel-sub-container.one-room-layout {
    margin: 0;
    flex: 0.6;
}

.panel-sub-container hr {
    width: 430px;
    height: 1px;
    color: lightgray;
    background-color: lightgray;
    border: none;
}

.panel-title {
    flex: 0.5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 140px;
}

.number {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}

.patient-number {
    color: #faff47;
    font-size: 70px;
    font-weight: bold;
}

.room-name {
    font-size: 40px;
    color: #ff1e82;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.welcoming {
    font-size: 35px;
    color: white;
    text-align: center;
}

.patient-name {
    font-size: 45px;
    color: #faff47;
    font-weight: bold;
    text-align: center;
}

.patients {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

.patients.one-room-layout {
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    white-space: nowrap;
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 30px;
    overflow: hidden;
}

.footer .marquee div {
    display: inline;
}

.footer .room-name-in-footer {
    color: #ff1e82;
}

.footer .patient-number-in-footer {
    color: #faff47;
}

.footer .patient-name-in-footer {
    color: #faff47;
}

.vertical-separator {
    background-color: white;
    width: 1px;
    height: 100%;
}

.vertical-separator.half-height {
    height: 50%;
}

svg.icon {
    width: 40px;
    height: 40px;
}

.marquee {
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 40s linear infinite;
    -webkit-animation: scroll-left 40s linear infinite;
    animation: scroll-left 40s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%); /* Browser bug fix */
        -webkit-transform: translateX(100%); /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%);
    }
}
