@font-face {
  font-family: 'Lobster Regular';
  src: url('../fonts/Lobster-Regular.ttf');
}

@font-face {
  font-family: 'TitilliumWeb-ExtraLight';
  src: url('../fonts/TitilliumWeb-ExtraLight.ttf');
}

@font-face {
  font-family: 'TitilliumWeb-Light';
  src: url('../fonts/TitilliumWeb-Light.ttf');
}

@media (max-width: 1400px) {
	.app .signin-screen {
		width: 40%;
	}

  .signin-screen .image-container {
	  display: none;
  }
}

@media (max-width: 900px) {
	.app .signin-screen {
		width: 100%;
		margin-top: 50px;
	}

	.signin-screen .signin-panel .logo {
		margin-top: 20px;
	}
}

@media (max-width: 400px) {
	.signin-screen .signin-panel .logo {
		width: 250px;
	}
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
  overflow: auto;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.app {
  height: 100%;
  background-color: white;
	padding: 0 20px 0 20px;
}

.screen-container {
  height: 100%;
  width: 100%;
}

.screen-content {
  overflow-y: auto;
}

/* Overriding alert box style from react-s-alert  */
.s-alert-wrapper .s-alert-box {
  position: absolute !important;
  z-index: 1500;
}

/*Overriding react-tabs-redux*/
.app .tab-link {
	display: inline-block;
	font-size: 18px;
	user-select: none;
	padding: 10px;
	text-align: center;
	outline: none;
	cursor: pointer;
	transition: 1s ease;
}

.tab-link.tab-link-active {
	color: #b777ae;
}

.tab-panel {
	margin-top: 20px;
}
